@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

a.active hr{
  display: block;
}

*{
  font-family: 'Outfit';
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .input {
    @apply w-full border border-gray-400 rounded-md px-4 py-2 text-sm
    focus:outline-none focus:ring-2 focus:ring-gray-800
    transition duration-200;
  }
}
/* 
.active{
    background-color: #ffebf5;
    border-color: #C586A5;
} */